body {
    background-image: url('https://wallpaperaccess.com/full/1356448.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#navbarText {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.navIcons {
    width: 35px;
    height: 35px;
}

#weatherForecast {
    text-align: center;
    /* color: whitesmoke; */
}

section {
    text-align: center;
    display: none;
}

.tempAndHumidity {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

/* #homeSection {
    color: rgba(245, 245, 245, 0.754);
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(190, 187, 187); */
/* text-shadow: 2px #d7dedf;
    text-decoration: solid; */

#hourlySection {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#warmestTime {
    margin-top: 20px;
}